*{
  font-family: 'Press Start 2P', cursive;
}

body{
  background-color: black;
  margin: 0;
}

h1{
  font-size: 18px;
  margin: 0;
}

#container{
  display: inline-block;
  position: relative;
}

#battleTransitionBlack{
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 2;
}

#enemyHealthBar{
  background-color: white;
  width: 250px;
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 10px;
  border: 4px solid black;
  border-radius: 10px;
}

#playerHealthBar{
  background-color: white;
  width: 250px;
  position: absolute;
  top: 330px;
  left: 690px;
  padding: 10px;
  border: 4px solid black;
  border-radius: 10px;
}

#greenHealthBar{
  background-color: rgb(23, 206, 23);
  border-radius: 10px;
  height: 7px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#grayHealthBar{
  background-color: rgb(184, 184, 184);
  border-radius: 10px;
  height: 7px; 
  margin-top: 10px; 
}

  canvas{
  /* position: absolute;
   top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);  */
  border-radius: 10px;
  cursor: url(../img/pokebola.png), default;
} 

#containerBattleInterface{
  background-color: rgb(255, 255, 255);
  position: absolute;
  height: 135px;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  border-top: 4px solid black;
  display: flex;
}

#attacksMenu{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

button{
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: url(../img/pokebola1.png), default;
  font-size: 16px;
}

button:hover{
  background-color: rgb(219, 235, 243);
}

#attackType{
  border-left: 4px solid black;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}